<!-- <h1>GreenUp! Seattle</h1> -->
<% if logged_in %>
  <h3 class="message"><%=flash[:message]%></h3>
  <br>
<% end %>

<div class="container intro">
  <p><span style="font-size: 1.6em; color: #009444">Green Up Seattle</span> is dedicated to helping reduce the misplaced waste problem in the city of Seattle. Create an account and you can help your neighborhood earn green points.</p>
  <p><i class="fas fa-check" style="color: #009444"></i> Earn points by playing Bin It to Win It, a waste sorting game, to improve your knowledge of proper waste disposal.</p>
  <p><i class="fas fa-check" style="color: #009444"></i> The neighborhood with the most points at the end of each month will get 20% off their recycling bill for the month!</p>
  <p><i class="fas fa-check" style="color: #009444"></i> Want to brush up on your skills before playing? Visit our resources page for waste guidelines and more useful information.</p>
</div>
<br>
<% if logged_in %>
<center><a href='/games' class="btn btn-success">PLAY GAME</a></center>
<% end %>
<br>
<% if !logged_in %>
<div class="log-in-box">
  <h4>Log in:</h4>
  <br>
  <%= form_tag('/', method: :post) do %>
    <%= label_tag "User name: " %>
    <%= text_field_tag :username %>
    <br><br>
    <%= label_tag "Password: " %>
    <%= password_field_tag :password %>
    <br>
    <div class="error"><%= flash[:message] %></div>
    <br>
    <button type="submit" class="btn btn-primary" submit_tag="Login">Log In</button>
  <% end %>
<br>
<p>New? <%= link_to "Create an account", new_user_path %></p>
</div>

<% end %>
