<!-- <h1>GreenUp! Seattle</h1> -->
<% if logged_in %>
  <% flash[:message] = "Welcome Back to the Hood!" %>
  <h2 class="message"><%=flash[:message]%></h2>
<% end %>

<div class="container index-page">
  <h2>THE YEAR IS 2019.</h2>
  <h4>War was beginning in the Great City of Seattle.</h4>
  <h4>Seattle neighborhoods, overrun with miscategorized waste, fell into chaos.</h4>
  <h4>After the First Wave, ten factions, known as Hoods, emerged.</h4>
  <h4>Only one could be crowned as the Great Categorizer of Postwar Seattle. Only one could be victorious.</h4>
  <h2>LET THE GAMES BEGIN!</h2>
</div>
<br>
<% if logged_in %>
<center><a href='/games' class="btn btn-success">PLAY GAME</a></center>
<% end %>
<br>
<% if !logged_in %>
<div class="log-in-box">
  <h4>Log in:</h4>
  <br>
  <%= form_tag('/', method: :post) do %>
    <%= label_tag "User name: " %>
    <%= text_field_tag :username %>
    <br><br>
    <%= label_tag "Password: " %>
    <%= password_field_tag :password %>
    <br>
    <div class="error"><%= flash[:message] %></div>
    <br>
    <button type="submit" class="btn btn-primary" submit_tag="Login">Log In</button>
  <% end %>
<br>
<p>New? <%= link_to "Create an account", new_user_path %></p>
</div>

<% end %>
