<h1>Home page</h1>

<h2>Welcome to Greenest Hood - Seattle</h2>

<% if !logged_in %>
<p>Log in:</p>

<%= flash[:message] %>
<br>
<%= form_tag('/', method: :post) do %>
<%= label_tag "User name" %>
<%= text_field_tag :username %>
<br>
<%= label_tag "Password" %>
<%= password_field_tag :password %>
<br>
<%= submit_tag "Login"%>
<% end %>
<% end %>


<p>New? <%= link_to "Create an account", new_user_path %></p>
