<h1>Create an account:</h1>

<%= form_for @user do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :username %>
<%= f.text_field :username %>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>
<br>
<%= f.label :hood_id %>
<%= f.collection_select :hood_id, Hood.all, :id, :name, include_blank: 'Select your \'hood' %>
<br>
<%= f.submit %>
<% end %>
