
<% if logged_in %>
  <h3 class="message">Edit your account</h3>
<% else %>
  <h3 class="message">Create an account</h3>
<% end %>
<br>
<div class="create-box"> <!-- start of box -->

<style>

#right {
  text-align: right
}
</style>

  <div style="float: left">
  <% @w = 28 %>
  <%= form_for @user do |f| %>
      <%= f.label :name %><br>
      <%= f.text_field :name, size: @w %>
      <br><br>
      <%= f.label :username %><br>
      <%= f.text_field :username, size: @w %>
      <br><br>
      <%= f.label :password %><br>
      <%= f.password_field :password, size: @w %>
      <br><br>
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation, size: @w %>
      <br><br>
      <%= f.label :hood_id %> <br>
      <%= f.collection_select(:hood_id, Hood.all.sort_by(&:id), :id, :name_with_id, include_blank: 'Select your \'hood') %>
      <br><br>
    <% if logged_in %>
      <%= f.submit name="Update" %>
    <% else %>
      <%= f.submit name="Create"%>
    <% end %>
  <% end %>
<br>
  <% if @errors %>
    <ul>
      <% @errors.each do |error| %>
      <li class="error"><%= error %></li>
      <% end %>
    </ul>
  <% end %>
  </div>
  <div>
    <img src="/seattle-hoods-map.jpg" alt="map of the hoods" class="map-image">
  </div>

</div> <!-- end of box -->
