<h3 class="message">Create an account</h3>

<% if @errors %>
  <% @errors.each do |error| %>
  <%= error %>
  <% end %>
<% end %>

<% label_class = {class: "col-sm-5 label_class"} %>
<% field_class = "col-sm-7 field_class" %>

<div class="container">

<%= form_for @user do |f| %>
  <div class="container-form">
    <div class="form-group row">
      <%= f.label :name, options=label_class %>
      <div class="col-sm-6 field_class">
        <%= f.text_field :name, size: 25 %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :username, options=label_class %>
      <div class="col-sm-6 field_class">
        <%= f.text_field :username, size: 25 %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :password, options=label_class %>
      <div class="col-sm-6 field_class">
        <%= f.text_field :password, size: 25 %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :password_confirmation, options=label_class %>
      <div class="col-sm-6 field_class">
        <%= f.text_field :password_confirmation, size: 25 %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :hood_id, options=label_class %>
      <div class="col-sm-6 field_class">
        <%= f.collection_select(:hood_id, Hood.all, :id, :name, include_blank: 'Select your \'hood') %>
      </div>
    </div>
    <%= f.submit name="Create"%>
  </div> <!-- container-form -->
<% end %>

</div> <!-- container -->
