
<% if !logged_in %>
  <h3 class="message">Create an account</h3>
<% else %>
  <h3 class="message">Edit your account</h3>
<% end %>
<br>
<div class="create-box">
<% if @errors %>
<ul>
  <% @errors.each do |error| %>
  <li class="error"><%= error %></li>
  <% end %>
</ul>
<% end %>
<style>

#right {
  text-align: right
}
</style>


<div id="right">
<% @w = 28 %>
<%= form_for @user do |f| %>
  <!-- <div class="container-form"> -->
    <!-- <div class="form-group row"> -->
      <%= f.label :name %>
      <!-- <div class="col-sm-6 field_class"> -->
        <%= f.text_field :name, size: @w %>
      <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="form-group row"> -->
    <br><br>
      <%= f.label :username %>
      <!-- <div class="col-sm-6 field_class"> -->
        <%= f.text_field :username, size: @w %>
      <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="form-group row"> -->
    <br><br>
      <%= f.label :password %>
      <!-- <div class="col-sm-6 field_class"> -->
        <%= f.password_field :password, size: @w %>
        <br><br>
      <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="form-group row"> -->
      <%= f.label :password_confirmation %>
      <!-- <div class="col-sm-6 field_class"> -->
        <%= f.password_field :password_confirmation, size: @w %>
        <br><br>
      <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="form-group row"> -->
      <%= f.label :hood_id %> &nbsp;
      <!-- <div class="col-sm-6 field_class"> -->
        <%= f.collection_select(:hood_id, Hood.all.sort_by(&:id), :id, :name_with_id, include_blank: 'Select your \'hood') %>
      <!-- </div> -->
    <!-- </div> --><br><br>
  </div>
    <% if logged_in %>
      <%= f.submit name="Update"%>
    <% else %>
      <%= f.submit name="Create"%>
    <% end %>
  <!-- </div> <!-- container-form -->
<% end %>

</div> <!-- log in box -->

<img src="/seattle-hoods-map.jpg" alt="map of the hoods" class="map-image">
