<div class="container" align="center">
  <h1><%= @user.username %> </h1>
  <h4><%= @user.hood.name %> </h4>
  <h2><%= @user.name %> </h2>
  <h3>Level <%= @user.level %> </h3>
  <h4>Total Points: <%= @user.points %> </h4>
  <br>
  <% if @user.id == session[:user_id] %>
    <%= link_to 'Edit Profile', {action: "edit", method: :get, id: @user.id}, {class: "btn btn-primary"} %>
    <br><br>
    <%= link_to "Delete Profile", user_path(@user), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} %>
  <% end %>
</div>
