<h3>Thanks for playing!</h3>

<p> You got <%= session[:points] %> / <%= session[:rounds].size %> points. </p>

<p> Now <%= @hood.name %> has a total of <%= @hood.hood_score %> points.  Way to go!</p>

<%= link_to 'New Game', '/games/' %>
