<div class="game-round">

  <% if session[:message_cat] == "right" %>
    <h3 class="message"><%= session[:message] %></h3>
  <% else %>
    <h3 class="message error"><%= session[:message] %></h3>
  <% end %>

  <h3>Round <%= session[:round] %></h3>
  <h3>Points: <%= session[:points] %></h3>
  <br>

  <img class="wastepic" src="<%= @waste.img_url %>" alt="<%= @waste.name %>" />

  <h3>Which bin does this go in?</h3>

  <p>( <%= @waste['name'] %> )</p>
  <br>
  <%= form_tag ({controller: 'games', action: 'round', method: 'post'}) do %>
    <img src="/images/buttons/trash-button.png" class="answer-button" alt="trash">
    <%= submit_tag value='trash' %>
    <img src="/images/buttons/recycle-button.png" class="answer-button" alt="recycling">
    <%= submit_tag value='recycling' %>
    <img src="/images/buttons/compost-button.png" class="answer-button" alt="compost">
    <%= submit_tag value='compost' %>
    <!-- <button style="background: url(/images/buttons/compost-button.png)" type="submit" name="commit" value="compost"> -->
    <!-- <input type="image" src="/images/buttons/compost-button.png" border="2" border-radius="10px" alt="Submit" name="commit" value="compost" data-disable-with="compost"/> -->
    <!-- <input img="/images/buttons/trash-button.png" type="submit" name="commit" value="trash" data-disable-with="trash"> -->
  <% end %>

</div>
