<div class="game-round">

  <% if session[:message] %>
    <h3 class="message"><%= session[:message] %></h3>
  <% end %>

  <h2>Round <%= session[:round] %></h2>
  <h3>Points: <%= session[:points] %></h3>
  <br>

  <img class="wastepic" src="<%= @waste.img_url %>" alt="<%= @waste.name %>" />

  <h3>Which bin does this go in?</h3>

  <%= @waste['name'] %>
  <br>
  <br>
  <%= form_tag ({controller: 'games', action: 'round', method: 'post'}) do %>
    <%= submit_tag value='trash' %>
    <%= submit_tag value='recycling' %>
    <%= submit_tag value='compost' %>
  <% end %>

</div>
