<%= flash[:message] %>

<h4>Round <%= session[:round] %> | Points: <%= session[:points] %></h4>
<h3>Which bin does this go in?</h3>

Object: <%= session[:waste]['name'] %>

<%= form_tag ({controller: 'games', action: 'round', method: 'post'}) do %>
<%= submit_tag value='trash' %>
<%= submit_tag value='recycling' %>
<%= submit_tag value='compost' %>
<% end %>
