<div class="game-round">

  <h2>Round <%= session[:round] %></h2>
  <% if session[:message_cat] == "right" %>
    <h3 class="message"><%= session[:message] %></h3>
  <% else %>
    <h3 class="message error"><%= session[:message] %></h3>
  <% end %>

  <h3>Points: <%= session[:points] %></h3>
  <br>

  <img class="wastepic" src="<%= @waste.img_url %>" alt="<%= @waste.name %>" />
  <h4>( <%= @waste['name'] %> )</h4>

  <h3>Which bin does this go in?</h3>

  <br>
  <%= form_tag ({controller: 'games', action: 'round', method: 'post'}) do %>
    <input type="submit" name="commit" value="trash" data-disable-with="trash" style="background: url('/images/buttons/trash-button.png') no-repeat center center; width: 60px; height: 60px; margin: 0px 20px; border: none; color: transparent; border-radius: 5px">

    <input type="submit" name="commit" value="recycling" data-disable-with="recycling" style="background: url('/images/buttons/recycle-button.png') no-repeat center center; width: 60px; height: 60px; margin: 0px 20px; border: none; color: transparent; border-radius: 5px">

    <input type="submit" name="commit" value="compost" data-disable-with="compost" style="background: url('/images/buttons/compost-button.png') no-repeat center center; width: 60px; height: 60px; margin: 0px 20px; border: none; color: transparent; border-radius: 5px">


  <% end %>

</div>

<% if false %>
<img src="/images/buttons/trash-button.png" class="answer-button" alt="trash">
<%= submit_tag value='trash' %>
<img src="/images/buttons/recycle-button.png" class="answer-button" alt="recycling">
<%= submit_tag value='recycling' %>
<img src="/images/buttons/compost-button.png" class="answer-button" alt="compost">
<%= submit_tag value='compost' %>
<% end %>
